.red {
    color: red;
    font-size: 32px;
    letter-spacing: 7;
    text-transform: capitalize;
}


#text{
    color: green
}

.green{
    color: green
}

p{
    color: red;
}

.blue{
    color:blue;
}

article p{
    color:aqua
}

aside > ul{
    color: violet;
    margin-top: 60px;
}